* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #eeeeee52;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

header {
  background-color: #7fcdfaea;
  font-weight: bold;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

/* Estilos para las secciones */
.descripcion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  color: white;
  width: 100%;
  background-image: url(/img/somos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.texto-hacemos {
  background-color: rgba(48, 47, 47, 0.226);
  width: 70%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.acerca-de {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  background-color: #098fddea;
  color: aliceblue;
  height: auto;
}

a {
  color: aliceblue;
}

.servicios {

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: .5rem;
  align-items: stretch;
}

.servicios-texto {
  background-color: rgba(90, 89, 89, 0.103);
  margin: 20px;
  color: white;
  text-align: center;
  background-image: url(/img/alerta.png);

}

h2{
  color: #5fa7e7;
}

.graficos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
  margin: 5rem;
}

.graficos h2 {
  text-align: center;
}

.dashboard h1 {
  text-align: center;
}

.dashboard {
  background-color: rgba(111, 202, 230, 0.308);
}

.estadisticas {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around;
  align-items: center;
}