* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #eeeeee52;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

header {
  background-image: url(/img/alerta.png);
  background-size: cover;
  font-weight: bold;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.icon1 img {
  width: 7%;
  margin-left: 3%;
  filter: invert(1);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  transform: scale(1);
  color: rgb(46, 46, 46);
  text-decoration: none;
}

/* Estilos para las secciones */
.descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  color: white;
  width: 100%;
  background-image: url(/img/somos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hacemosCont {
  background-color: rgba(0, 0, 0, 0.767);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hacemos {
  margin: 2% auto;
}

.hacemos h2 {
  font-weight: 700;
  font-size: 2.5em;
  color: #98caf7;
}

.texto-hacemos {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}


a {
  color: aliceblue;
}

.servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.servicios-texto {
  background-color: rgba(90, 89, 89, 0.103);
  margin: 1.5% 0;
  color: white;
  text-align: center;
  background-image: url(/img/alerta.png);
  background-size: cover;
  font-size: 2.5em;
}

/* cards refacto */
.card {
  width: 18% !important;
  text-align: center;
  margin-bottom: 2%;
}

.card-title {
  font-size: 1em;
  font-weight: 700;
  text-align: center;
}

h2 {
  color: #5fa7e7;
}

.graficos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
  margin: 5rem;
}

.graficos h2 {
  text-align: center;
}

.dashboard h1 {
  text-align: center;
}

.dashboard {
  background-color: rgba(111, 202, 230, 0.308);
}

.estadisticas {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around;
  align-items: center;
}

/* Footer */
.acerca-de {
  margin-top: auto;
  text-decoration: none;
  background: #1c1c1c;
  color: aliceblue;
  height: auto;
  padding: 2% 1%;
}

.acerca-de h3 {
  font-weight: 700;
}

.footercont {
  display: flex;
  justify-content: space-evenly;
}

.socialCompl {
  text-align: center;
}

.social {
  display: flex;
  justify-content: space-evenly;
  margin: 4% auto;

}

.integrantes {
  text-align: center;
}

.integrantes h4 {
  font-weight: 700;
  color: #4d4d4d;
}

.integrantes ul {
  list-style: none;
  padding: 0;
}

.integrantes ul li a {
  font-size: 1.1em;
  text-decoration: none;
}

.integrantes ul li a:hover {
  color: #3f93c5;
  font-weight: 700;
  text-decoration: none;
}


/* Footer nuevo */


/*ESTILOS TABLAS GENERADAS*/

/* styles.css */


.body {
  background: #053bee80;

}

.table-container {
  max-width: 800px;
  margin: 20px auto;

  border-radius: 8px;
  box-shadow: 0 0 10px rgba(13, 28, 245, 0.959);
  padding: 20px;


}

.table-title {
  text-align: center;
  font-size: 28px;
  color: white;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;


  margin-top: 10px;
}

.styled-table th,
.styled-table td {

  padding: 12px;
  text-align: center;
}

.styled-table th {
  background-color: #0008fc;

  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.styled-table td {
  background-color: #06084752;
  color: white;


}

.styled-table tr:nth-child(even) {
  background-color: #06084752;

}



.styled-table tr:hover {
  background-color: #11d5f8;
  transition: background-color 0.3s ease;
}

.img-generada {
  width: 60%;
  height: 50%;
  margin: auto;
}

.titulo-img-generada {
  margin: 50px auto;
  color: white;

}

.titulo-img-generada:hover {
  color: #0e38c5c2;
}